<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="systemConfigDao" class="com.yinhai.cloud.core.impl.dao.impl.SystemConfigDaoImpl"/>

    <bean id="systemConfigBpo" parent="transactionProxy">
        <property name="target">
            <bean class="com.yinhai.cloud.core.impl.bpo.SystemConfigBpoImpl">
            </bean>
        </property>
    </bean>

</beans>
