<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userAuthorityDao" class="com.yinhai.cloud.module.user.impl.dao.impl.UserAuthorityDaoImpl"></bean>

    <bean id="userAuthorityBpo" parent="transactionProxy">
        <property name="target">
            <bean class="com.yinhai.cloud.module.user.impl.bpo.UserAuthorityBpoImpl">
            </bean>
        </property>
    </bean>
</beans>
